/*
*theme
*/
.page-wrapper{
  min-width: 320px;
}
.twill-background{
  background: url(../images/bg-pattern-diag.png) repeat #262f36;
}
.twill-section {
  background: url(../images/bg-image-white-light.png) no-repeat center top;
}
.dark-section {
  background-color: #465562;
}
.light-section{
  background-color: #e1ebf3;
}
.other-section{
  padding-top: 60px;
  padding-bottom: 0px;
  background-image: url(../images/bg-image-clouds.jpg);
  background-position: top center;
  background-size: 100%;
  background-color: #D3E9F6;
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
}
.gray-section{
  background-color: #ececec;
  padding:7vmin 0 7vmin 0;
}
.footer-menu{
  background-color: #fff;
}
.footer-bottom{
  background-image: url(../images/bg-image-clouds.jpg);
  background-size: cover;
  padding:4vmin 0 3vmin 0;
}
.footer-bottom div{
  margin-bottom: 5px;
}

.bottom-shade{
  position: absolute;
  bottom: -10px;
  left: 0px;
  width: 100%;
  height: 10px;
  background: url(../images/bottom-shade-large.png) no-repeat center;
  z-index: 2;
}

/********************
*default header
*/
.header-background{
  background-image: url(../images/bg-image-clouds-guest.jpg);
  background-size: cover;
  padding-top: 2vw;
  padding-bottom: 2vw;
  
}
.block-site-name{
  margin-top: 1.8vw;
  font-size: 1.8em;
  color: #fff;
}
.block-topsearch{  
  margin-top: 36px;
}
.block-user-account ul{
  color: #fff;
  float: right;
  list-style: none;
}
.block-user-account ul li{
  float: left;
}
.block-user-account ul li a{
  color: #fff;
}

/********************
*default nav
*/
#nav{
  position: relative;
}
.block-main-menu{
  list-style: none;
  height: 50px;
  line-height: 50px;
  margin: 0;
  padding: 0;
}
.block-main-menu > li{
  display: block;
  float: left;
  width: 16.6666%;
  text-align: center;
}

/*
*default footer
*/
.footer-menu ul{
  list-style: none;
  padding: 5px;

}


/*
*front page
*/


/*
*login & register page
*/
.auth-adorn{
  height: 450px;
  background-image: url(../images/feather-login.jpg);
  background-size: cover;
}
.auth-form{
  height: 450px;
  background-color: #fff;
}
.auth-login{
  padding-top: 10px;
}
.auth-login ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.auth-login li{

}
.auth-title {
  font-size: 1.2em;
}
